#circuitBoard{
    border: 5px solid rgb(65, 65, 105);
}
#nodeSelection{
    color: blanchedalmond;
    
}


.no-focus:focus, .no-focus:active{
    background-color: white;
    outline: none !important;
    box-shadow: none !important;
}

.button{
    background-color:rgb(206, 206, 206);
    border: solid rgb(131, 131, 131) 2px;
    width:125px;
    margin: auto;
    text-align: center;
}

.button:hover{
    background-color:rgb(145, 145, 145);
}

.dropdown-item:hover{
    background-color: rgb(145, 145, 145);
}

